@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');


h2{
    font-size: 24px;
    font-weight: 700;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30%;
    height: 10vh;
    background: white;
    padding: 5vw;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.index {
    width: 100%;
    padding: 15vh 3vh;

    .chatbot{
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1;
        &:hover{
            transform: scale(1.1);
            transition: 0.5s;
        }
    }

    .popup {
        position: fixed;
        left: 0;
        right: 0;
        bottom: -100%;
        background-color: white;
        border-radius: 30px 30px 0 0;
        box-shadow: 0px -1px 7px 3px rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 90%;
        border-radius: 16px 16px 0 0;
        transition: bottom 0.10s;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        gap: 6vh;
        padding: 3vh;

        .close{
            position: absolute;
            top: 9vh;
            left: 3vh;
            z-index: 1000;
        }

        .firstRow{
            width: 100%;
            display: flex;
            gap: 5vh;
            flex-direction: column;
            
            .profil{
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                gap: 0.5vh;

                #name{
                    font-size: 32px;
                    font-weight: 700;
                    letter-spacing: 0.375px;
                }
            }

            .vocal{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 1vh;
            }

            .vocalRed{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1vh;
            }

            .name{
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: 0.375px;
            }

            .someone, .time{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1vh;
            }
        }

        .secondRow{
            display: flex;
            justify-content: center;
        }
    }

    .popup.open {
        bottom: 0; 
    }


    .title{
        padding: 3vh 0 6vh 0;
        h1{
            font-weight: 400;
            display: flex;
            flex-direction: column;
            span{
                font-size: 44px;
                font-weight: 700;
            }
        }
    }

    .allActuality{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2vh;

        .titleContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2vh;
        }

        .card {      
            position: relative;      
            img {
                width: 100%;
            }

            .card-content {
                padding: 1vh;
                position: absolute;
                bottom: 10px;
                width: 100%;
                
                p{
                    color: white;
                    font-size: 20px;
                    font-weight: 600;
                    min-height: 36px;
                    font-style: normal;
                    display: flex;
                    align-items: flex-end;
                }
            }
        }
    }
}